# Python
__pycache__/
*.py[cod]
*.egg-info/
.Python

# Entorno
.env
.venv/
venv/

# Django
/staticfiles/
/media/
*.log

# Respaldos de base
respaldo-*.sql.gz
*.sql.gz

# Editores / SO
.idea/
.vscode/
.DS_Store
