{% load static %}
<header class="cab">
  <div class="envoltorio cab-int">
    <a href="{% url 'web:home' %}"><span class="marca-box"><img class="logo" src="{% static 'web/logo.png' %}" alt="MERCANTE365"></span></a>
    <nav>
      <a href="{% url 'web:market' %}"{% if request.resolver_match.url_name == 'market' or request.resolver_match.url_name == 'producto_detalle' %} class="activo"{% endif %}>Catálogo</a>
      <a href="{% url 'web:home' %}#nosotros">Quiénes somos</a>
      <a href="{% url 'web:home' %}#como-funciona">Cómo funciona</a>
    </nav>
    <span class="sp"></span>
    <a class="ingresar" href="{% url 'panel:login' %}">Ingresar</a>
  </div>
</header>
